@model IEnumerable<HackathonHoliday.Models.PollInformation>

@{
    ViewBag.Title = "Polls";
}

<div class="text-center">
    <h1 style="color:grey"><b>Polls</b></h1>

    <a href="@Url.Action("CreatePoll","Home")" class="btn btn-lg btn-success" style="min-width: 250px">
        <span class="glyphicon glyphicon-plus"></span>
        CreatePoll
    </a>
    <br />
    <br />

    @foreach (var item in Model.OrderByDescending(it => it.CreateDate))
    {
        <a href="@Url.Action("PollDetail","Home",new { pollid=item.Id })" style="color: grey">
            <div class="panel panel-default" style="background-color: lightgrey; border-radius: 1em 1em;">
                <div class="panel-body">
                    <div class="text-left col-md-6">
                        <p style="font-size: 30px">@item.Name</p>
                    </div>
                    <div class="text-right col-md-6">
                        <p>@string.Format("{0:dd.MM.yy}", item.CreateDate)<br /><b>By @item.OwnerName</b></p>
                    </div>
                </div>
            </div>
        </a>
    }
</div>